h1, h3, h4, h5, h6,
p, li, td, th {
  direction: rtl;
  text-align: right;
  unicode-bidi: plaintext;
}

.main {
  margin-left: 15.5rem !important;
}
/* سایدبار سمت راست */
.side-bar {
  border-left: 1px solid #2a2a2a;
  border-right: none;
  float: right;
  position-right: 0;
}

/* محتوا در سمت چپ */
.main-content-wrap {
  margin-left: 0;
  margin-right: var(--sidebar-width);
}
.site-nav, .site-header, .site-footer {
width: 22.5rem;
direction: rtl;
}
