.main-content ul > li::before {
  display: block;
}

h1, h2, h3, h4, h5, h6,
p, li, td, th, ul {
  direction: rtl;
  unicode-bidi: plaintext;
}

.main {
  margin-left: 25.5rem !important;
}
/* سایدبار سمت راست */
.side-bar {
  border-left: 1px solid #2a2a2a;
  border-right: none;
  right: 0;
  display: block;
}

/* محتوا در سمت چپ */
.main-content-wrap {
  margin-left: 0;
  margin-right: var(--sidebar-width);
  padding-right: 3rem;
}
.site-nav, .site-header, .site-footer {
width: 22.5rem;
direction: rtl;
}
.site-footer {
display: none;
}

