---
---

:root {
  direction: rtl;
}

body {
  text-align: right;
  font-family: "Vazirmatn", Tahoma, sans-serif;
}

h1, h3, h4, h5, h6,
p, li, td, th {
  direction: rtl !import;
  text-align: right !import;
  unicode-bidi: plaintext;
}

.main-content {
  direction: rtl !import;
  text-align: right !import;
}
